*

!.gitignore
!.Xresources
!.xinitrc
!.zprofile
!.zshrc
!.vim/
!.config/

!.vim/*

.config/*
!.config/bspwm/
!.config/bspwm/*
!.config/sxhkd/
!.config/sxhkd/*
!.config/panel/
!.config/panel/*
!.config/rofi/
!.config/rofi/*


